[submodule "themes/hugo-resume"]
	path = themes/hugo-resume
	url = https://github.com/Mandrab/hugo-resume.git
[submodule "themes/osm"]
	path = themes/osm
	url = https://github.com/Hanzei/hugo-component-osm.git
